body{
  background-color: lime;
}


.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.65);

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-open{
  display: flex;
}

.modal-window{
  position: relative;
  background-color: white;
  margin: 30px;
  padding: 1em;
}

.modal-window-content{
  overflow: auto;
}

.modal-window .modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.showing-modal{
  overflow: hidden;
}
